@import "tailwindcss";

:root {
  --app-height: 100%;
}

html, body {
  background-color: orange;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Contenedor principal que usa la variable CSS para la altura */
.app-container {
  height: var(--app-height);
  overflow-x: hidden;
  position: relative;
}

/* Estilo específico para el footer */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Para browsers modernos */
@supports (height: 100dvh) {
  .app-container {
    height: 100dvh;
  }
}